<ul class="nav nav-list">
    <li><h5><%= link_to 'New Actor', new_actor_path %></h5></li>
    <li class="divider"></li>
    <li><h5><%= link_to 'All Actors', actors_path %></h5></li>
    <li class="divider"></li>
    <li><h5><%= link_to "Actors Gallery", actors_gallery_actors_path %></h5></li>
    <li class="divider"></li>
</ul>