<div class="container-fluid">
  <div class="row-fluid">
    <div class="span9">

      <h3>Actors Gallery</h3>
      <br>
      <%= render partial: "actor_photos/actors_gallery" %>
    </div>

    <div class="span3">
      <%= render 'side_nav'%>
    </div>
  </div>
</div>