<div class="container-fluid">
  <div class="row-fluid">
    <div class="span9">
      <h3>Editing Actor</h3>
      <%= render 'form' %>
    </div>

  <div class="span3">
      <ul class="nav nav-list">
        <li><h5><%= link_to 'Back to Actor', actor_path(@actor) %></h5></li>
        <li class="divider"></li>
        <li><h5><%= link_to @actor.name+' Photos', actor_actor_photos_path(@actor) %></h5></li>
        <li class="divider"></li>
      </ul>
      <%= render "side_nav" %> 
    </div>

  </div>   
</div>