<div class="container-fluid">
  <div class="row-fluid">
    <div class="span9">

      <h3>Current Releases</h3>
      <br>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Title</th>
            <th>Popularity</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @movies.each do |movie| %>
            <tr>
              <td><%= link_to movie.title, movie %></td>
              <td><%= movie.view_count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="span3">
      <%= render 'side_nav' %>
    </div>
  </div>
</div>