<h3>Movies</h3>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Title</th>
      <!-- <th>Rating</th> -->
      <th>Popularity</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= link_to movie.title, movie %></td>
        <!-- <td><%= movie.rating %></td> -->
        <td><%= movie.view_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<h5><%= link_to 'New Movie', new_movie_path %></h5>
