<div class="container-fluid">
  <div class="row-fluid">
    <div class="span9">

      <h3>Movies Gallery</h3>
      <br>
      <%= render partial: "movie_photos/movies_gallery" %>
    </div>

    <div class="span3">
      <%= render 'side_nav'%>
    </div>
  </div>
</div>